<div class="sidenav">
  <a class="sidenav__link" href="index.html">
    Home
  </a>
  <a class="sidenav__link" href="about.html">
    About
  </a>
  <a class="sidenav__link" href="contact.html">
    Contact
  </a>
</div>
<style>
  .sidenav {
    display: flex;
    flex-direction: column;
  }
  
  .sidenav__link {
    text-decoration: none;
    padding: var(--gutter-s);
    color: var(--color-red);
    background: var(--color-gray);
  }
  
  .sidenav__link:hover {
    background: var(--color-black);
  }
</style>